@define-color green  #23d18b;
@define-color red  #ff5555;
@define-color blue  #0A7ACE;
@define-color text  #d1e3fb;
@define-color base  #000000;

* {
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 16px;
}

/* Window */
#window {
  margin: 10px;
  padding: 10px;
  border: 2px solid @green;
  border-radius: 8px;
  background-color: @base;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: -12px -12px 0px -12px;
  padding: 10px;
  border: none;
  border-radius: 8px 8px 0px 0px;
  color: @white;
  background-color: rgba(40, 40, 40, 0.5);
}

#input image {
  border: none;
  color: @green;
}

#input * {
  outline: 4px solid @red!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @blue;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @blue;
}

#entry:selected #text {
  color: @green;
}

#entry:drop(active) {
  background-color: @blue!important;
}

#img {
  padding-right: 10px;
}
