/* style.css */
@define-color blue  #1CA1FF;
@define-color lightblue  skyblue;
@define-color red  #ff5555;
@define-color orange  #FF9F41;
@define-color text  #D9E6FA;

* {
  font-family: "Maple Mono NF", monospace;
  font-size: 14px;
}

/* Window */
#window {
  margin: 10px;
  padding: 10px;
  border: 2px solid @blue;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Input */
#input {
  margin: -12px -12px 0px -12px;
  padding: 10px;
  border: none;
  border-radius: 8px 8px 0px 0px;
  color: @text;
  background-color: rgba(20, 20, 20, 0.9);
}

#input image {
  border: none;
  color: @blue;
}

#input * {
  outline: 4px solid @red!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: rgba(0, 0, 0, 0.5);
}

#entry arrow {
  border: none;
  color: @orange;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @orange;
}

#entry:selected #text {
  color: @lightblue;
}

#entry:drop(active) {
  background-color: @orange!important;
}

#img {
  padding-right: 10px;
}
