/* ~/.config/tridactyl/themes/oasis_lagoon.css */

:root {
  --oasis-theme-accent: #ffa0a0;
  --oasis-theme-cursor: #f0e68c;
  --oasis-theme-label: #f9a05e;
  --oasis-theme-light-primary: #94d0fe;
  --oasis-theme-primary: #58b8fd;
  --oasis-theme-secondary: #f8b471;
  --oasis-theme-strong-primary: #1ca0fd;
  --oasis-bg-core: #101825;
  --oasis-bg-mantle: #1a283f;
  --oasis-bg-shadow: #0f1522;
  --oasis-bg-surface: #22385c;
  --oasis-fg-comment: #4d88a7;
  --oasis-fg-core: #d9e6fa;
  --oasis-fg-dim: #877363;
  --oasis-fg-muted: #3b6a87;
  --oasis-fg-strong: #d0e2f0;
  --oasis-ui-search-bg: #5a3824;
  --oasis-ui-border: #3aacfd;

  --oasis-terminal-black: #101825;
  --oasis-terminal-blue: #81c0ff;
  --oasis-terminal-bright-black: #3b6a87;
  --oasis-terminal-bright-blue: #87ceeb;
  --oasis-terminal-bright-cyan: #8fd1c7;
  --oasis-terminal-bright-green: #96ea7f;
  --oasis-terminal-bright-magenta: #d2adff;
  --oasis-terminal-bright-red: #ffa0a0;
  --oasis-terminal-bright-white: #fff9f2;
  --oasis-terminal-bright-yellow: #f8b471;
  --oasis-terminal-cyan: #68c0b6;
  --oasis-terminal-green: #53d390;
  --oasis-terminal-magenta: #c695ff;
  --oasis-terminal-red: #ff7979;
  --oasis-terminal-white: #dddbd5;
  --oasis-terminal-yellow: #f0e68c;

  --code-font-family:
    "ProFont IIx Nerd Font Mono", ui-monospace, "SFMono-Regular", Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --tridactyl-cmplt-font-family: var(--code-font-family);
  --tridactyl-status-font-family: var(--code-font-family);
  --tridactyl-cmdl-font-family: var(--code-font-family);

  --tridactly-photon-colours-code-green: var(--oasis-terminal-green);
  --tridactly-photon-colours-warning-color: var(--oasis-terminal-yellow);
  --tridactyl-fg: var(--oasis-theme-light-primary);
  --tridactyl-bg: var(--oasis-bg-core);
  --tridactyl-cmdl-fg: var(--oasis-theme-light-primary);
  --tridactyl-cmdl-bg: var(--oasis-bg-core);
  --tridactyl-cmplt-fg: var(--oasis-fg-core);
  --tridactyl-cmdl-bg: var(--oasis-bg-core);
  --tridactyl-hint-active-bg: var(--oasis-bg-surface);
  --tridactyl-status-bg: var(--oasis-theme-primary);
  --tridactyl-status-fg: var(--oasis-bg-core);
  /* --tridactyl-of-bg: var(--oasis-ui-search-bg); */
  --tridactyl-of-bg: var(--oasis-bg-surface);
}

#completion {
  border-color: var(--oasis-ui-border);
}

:root #completions .sectionHeader {
  background: var(--oasis-bg-mantle);
  color: var(--oasis-theme-primary);
  text-transform: uppercase;
}

#completions table tr td.prefix {
  color: var(--oasis-theme-accent);
}

.TridactylStatusIndicator {
  text-transform: uppercase !important;
  border: none !important;
  padding: 0.5ex !important;
}

#command-line-holder,
#command-line-holder * {
  background: var(--oasis-bg-mantle) !important;
}
