/* waybar/.config/waybar/style.css */
/* @import "./themes/oasis-lagoon.css"; */

@define-color primary #42a5f5;

/*
* Globals
*/
window#waybar {
  all: unset;
}

* {
  font-family: "ProFont IIx Nerd Font", "JetBrainsMono Nerd Font", monospace;
  font-size: 0.95rem;
  color: #d9e6fa;
  min-height: 0;
  font-weight: 400;
}

tooltip {
  border-radius: 10px;
  background: #14181c;
  color: #d9e6fa;
  border: 1px solid #1a283f;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.35);
}

/* Module containers */
.modules-left,
.modules-center,
.modules-right {
  margin-top: 5px;
  padding: 0;
  background: transparent;
}

/* Module Widgets - Pill Design */
.modules-left > widget > *,
.modules-center > widget > *,
.modules-right > widget > * {
  background: #101418;
  padding: 0px 8px 0px 8px;
  border: none;
}

/* Round only the ends + give outer breathing room */
.modules-left > widget:first-child > *,
.modules-center > widget:first-child > *,
.modules-right > widget:first-child > * {
  margin-left: 5px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.modules-left > widget:last-child > *,
.modules-center > widget:last-child > *,
.modules-right > widget:last-child > * {
  margin-right: 5px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/*
* Custom Modules
*/
#custom-startmenu {
  padding: 2px 10px 2px 8px;
  color: #101825;
  background-color: indianred;
  border-radius: 8px 0px 0px 8px;
}

/*
* Workspaces
*/
#workspaces {
  padding: 4px 0px 4px 8px;
  background-color: #101418;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#workspaces button {
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0px 6px 0px 6px;
  margin-right: 8px;
  border-radius: 20px;
  background-color: #1a283f;
}

/* Non-taskbar Icon Container */
#workspaces button.empty .workspace-label {
  border-top: 1px solid transparent;
  padding: 0px 5px 0px 5px;
}

/* Taskbar Icon Container */
#workspaces .taskbar-window {
  border-top: 1px solid transparent;
  background-color: transparent;
  padding: 0px 4px 0px 4px;
  border-radius: 8px;
}

#workspaces button:hover,
.taskbar-window:hover {
  background-color: rgba(66, 165, 245, 0.35);
  color: #101825;
}

#workspaces button.empty {
  color: #f0e68c;
}

#workspaces button.visible {
  background-color: @primary;
  padding: 0px 11px 0px 11px;
}

/*
* Customs
*/
#custom-cava {
  color: @primary;
  font-size: 8px;
  margin-left: -8px;
}

#custom-leftArrow,
#custom-rightArrow {
  color: @primary;
}

.group-volume {
  border-bottom: 2px solid @primary;
  margin: 0;
  padding: 0;
}

.group-power {
  border-bottom: 2px solid @primary;
}

#custom-notifications:hover {
  color: @primary;
}

#tray {
  margin-right: 6px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: #a1bdce;
  background-color: transparent;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 90px;
  min-height: 4px;
  border-radius: 6px;
  background: #333333;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096c0;
}

#mpris {
  margin-left: 5px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/*
* GTK Menu Styles
*/
menu {
  background: #14181c;
  color: #d9e6fa;
}
menu,
menuitem,
menuitem label {
  font-size: 14px;
}
menuitem {
  border-radius: 15px;
}
menu separator {
  min-height: 1px;
  margin: 6px 8px; /* inset from edges */
  background: #22385c;
}
menuitem.separator {
  padding: 0;
  background: transparent;
}
