/* style.css */
/* waybar/.config/waybar/style.css */
@import "./themes/oasis-lagoon.css";

* {
  font-family: "ProFont IIx Nerd Font", "Noto Sans", sans-serif;
  font-size: 12px;
  min-height: 0;
  font-weight: 400;
}

window#waybar {
  all: unset;
}

.modules-left {
  padding: 0px;
  margin: 5px 0px 0px 5px;
  border-radius: 8px;
  background: #101825;
}

.modules-center {
  padding: 0px;
  margin: 5px 0px 0px 0px;
  border-radius: 8px;
  background: #101825;
}

.modules-right {
  padding: 0px;
  margin: 5px 5px 0px 0px;
  border-radius: 8px;
  background: #101825;
}

#custom-applauncher {
  margin: 0;
  padding: 2px 10px 2px 8px;
  color: #101825;
  background-color: indianred;
  border-radius: 8px;
}

#workspaces {
  /* padding: 5px 0px 5px 0px; */
  padding: 1px 10px 1px 0px;
}

#workspaces button {
  /* background-color: transparent; */
  border: none;
  color: khaki;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 0;
  padding-left: 3px;
  padding-right: 3px;
}

#workspaces .workspace-label {
  padding-left: 1px;
  border-top: 1px solid transparent;
}

#workspaces .taskbar-window {
  border-top: 1px solid transparent;
  padding-left: 5px;
  padding-right: 5px;
}

#workspaces button.visible .taskbar-window,
#workspaces button.visible .workspace-label {
  border-color: khaki;
}

#workspaces .taskbar-window.active {
  background-color: rgba(255, 159, 65, 0.15);
}

#workspaces .taskbar-window image {
  margin-top: 1px;
}

#workspaces button:hover,
#workspaces .taskbar-window:hover,
#workspaces .taskbar-window image:hover {
  background-color: rgba(240, 230, 140, 0.15);
  color: #101825;
}

#workspaces button.empty {
  color: #f0e68c;
}
#workspaces button.empty.active {
  /* color: #101825; */
  background-color: rgba(255, 159, 65, 0.15);
}
/* #workspaces button.urgent { */
/*   background-color: indianred; */
/* } */
/* #workspaces button { */
/*   padding: 0px 5px 0px 5px; */
/*   color: darkkhaki; */
/*   border: none; */
/*   transition: all 0.1s ease; */
/* } */
/* #workspaces button.active { */
/*   background: #ff9f41; */
/*   color: #101825; */
/* } */
/* #workspaces button.active:hover { */
/*   background: khaki; */
/*   color: indianred; */
/* } */
/* #workspaces button.empty:hover { */
/*   color: #101825; */
/*   background-color: #f0e68c; */
/* } */

/* #workspaces button.urgent { */
/*   background-color: indianred; */
/* } */

#custom-cava {
  color: skyblue;
  margin-right: 1em;
}

#custom-weather {
  color: #f8c471;
  margin-left: 1em;
  margin-right: 8px;
}

#custom-leftArrow,
#custom-rightArrow {
  color: khaki;
}

#custom-rightArrow {
  margin-right: 8px;
}

#pulseaudio,
#power-profiles-daemon,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#custom-notifications,
#custom-colorpicker,
#custom-screenshot,
/* #custom-rightArrow, */
/* #custom-leftArrow, */
#custom-divider,
#wlr-taskbar,
#mpris,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.group-tools {
  color: deepskyblue;
  border-bottom: 2px solid deepskyblue;
}

.group-hardware {
  color: olivedrab;
  border-bottom: 2px solid olivedrab;
}

.group-audio {
  color: #ffa0a0;
  border-bottom: 2px solid #ffa0a0;
  margin: 0;
  padding: 0;
}

.group-network {
  color: #96d4cb;
  border-bottom: 2px solid #96d4cb;
}

#power-profiles-daemon {
  color: olivedrab;
}

#custom-notifications {
  color: #cea7ff;
}

#mpris.playing {
  color: skyblue; /* Green when playing */
}

#mpris.paused {
  color: peru; /* Yellow when paused */
}

#cpu {
  color: #7bbdb3;
}

#memory {
  color: #bdb76b;
}

#temperature {
  color: #84c8e5;
}

#clock {
  color: #8dcd7e;
}

/* #clock.date { */
/*   color: #6bbf59; */
/* } */

#pulseaudio {
  color: #ffa0a0;
}

#network {
  color: #96d4cb;
}

#bluetooth {
  color: #87ceeb;
}

#idle_inhibitor {
  margin-right: 12px;
  color: #7cb342;
}

#idle_inhibitor.activated {
  color: indianred;
}

#battery {
  color: #f8c471;
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces { */
/*   margin-left: 0; */
/* } */

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: #a1bdce;
  background-color: transparent;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #343434;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096c0;
}

#mpris {
  color: white;
  animation: repeat;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

menu {
  background: #1a283f;
  color: #b5e8e0;
}
menu,
menuitem,
menuitem label {
  font-family: "ProFont IIx Nerd Font", "Noto Sans", sans-serif;
  font-size: 12pt;
}
menuitem {
  border-radius: 15px;
}
