/* waybar/.config/waybar/style.css */
/* @import "./themes/oasis-lagoon.css"; */

/*
* Globals
*/
window#waybar {
  all: unset;
}

* {
  font-family: "ProFont IIx Nerd Font", "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  min-height: 0;
  font-weight: 400;
}

tooltip {
  border-radius: 10px;
  background: #1a283f;
  color: #d9e6fa;
  border: 1px solid #22385c;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.35);
}

/* Module containers */
.modules-left,
.modules-center,
.modules-right {
  margin-top: 5px;
  padding: 0;
  background: transparent;
}

/* Module Widgets - Pill Design */
.modules-left > widget > *,
.modules-center > widget > *,
.modules-right > widget > * {
  background: #101825;
  padding: 0px 8px 0px 8px; /* per-child padding */
  border: none;
}

/* Round only the ends + give outer breathing room */
.modules-left > widget:first-child > *,
.modules-center > widget:first-child > *,
.modules-right > widget:first-child > * {
  margin-left: 5px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.modules-left > widget:last-child > *,
.modules-center > widget:last-child > *,
.modules-right > widget:last-child > * {
  margin-right: 5px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/*
* Custom Modules
*/
#custom-startmenu {
  padding: 2px 10px 2px 8px;
  color: #101825;
  background-color: indianred;
  border-radius: 8px 0px 0px 8px;
}

/*
* Workspaces
*/
#workspaces {
  padding: 0px 5px 0px 5px;
}

#workspaces button {
  border: none;
  color: khaki;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 0;
}

/* #workspaces .workspace-label { */
/**/
/* } */

/* Non-taskbar Icon Container */
#workspaces button.empty .workspace-label {
  border-top: 1px solid transparent;
  padding: 0px 5px 0px 5px;
}

/* Taskbar Icon Container */
#workspaces .taskbar-window {
  border-top: 1px solid transparent;
  padding: 0px 4px 0px 4px;
}

#workspaces button.visible .taskbar-window,
#workspaces button.visible .workspace-label {
  border-color: khaki;
}

#workspaces .taskbar-window.active {
  background-color: rgba(240, 230, 140, 0.15);
}

/* #workspaces .taskbar-window image { */
/*   margin-top: 1px; */
/* } */

#workspaces button:hover,
#workspaces .taskbar-window:hover {
  background-color: rgba(240, 230, 140, 0.15);
  color: #101825;
}

#workspaces button.empty {
  color: #f0e68c;
}
#workspaces button.empty.active {
  background-color: rgba(240, 230, 140, 0.15);
}

#custom-cava {
  color: skyblue;
}

#custom-weather {
  color: #f8c471;
}

#custom-updates {
  color: darkkhaki;
}

#custom-leftArrow,
#custom-rightArrow {
  color: khaki;
}

.group-tools {
  color: deepskyblue;
  border-bottom: 2px solid deepskyblue;
}

.group-hardware {
  color: #ff9f41;
  border-bottom: 2px solid #ff9f41;
}

.group-audio {
  color: #ffa0a0;
  border-bottom: 2px solid #ffa0a0;
  margin: 0;
  padding: 0;
}

.group-network {
  color: #96d4cb;
  border-bottom: 2px solid #96d4cb;
}

#power-profiles-daemon {
  color: olivedrab;
}

#custom-notifications {
  color: #cea7ff;
}

#mpris.playing {
  color: skyblue;
}

#mpris.paused {
  color: peru;
}

#cpu {
  color: #7bbdb3;
}

#memory {
  color: #bdb76b;
}

#temperature {
  color: #84c8e5;
}

#clock {
  color: #8dcd7e;
}

#pulseaudio {
  color: #ffa0a0;
}

#network {
  color: #96d4cb;
}

#bluetooth {
  color: #87ceeb;
}

#idle_inhibitor {
  margin-right: 12px;
  color: #7cb342;
}

#idle_inhibitor.activated {
  color: indianred;
}

#battery {
  color: #f8c471;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: #a1bdce;
  background-color: transparent;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 6px;
  background: #333333;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 6px;
  background-color: #2096c0;
}

/*
* GTK Menu Styles
*/
menu {
  background: #1a283f;
  color: #d9e6fa;
}
menu,
menuitem,
menuitem label {
  font-size: 14px;
}
menuitem {
  border-radius: 15px;
}
menu separator {
  min-height: 1px;
  margin: 6px 8px; /* inset from edges */
  background: #22385c;
}
menuitem.separator {
  padding: 0;
  background: transparent;
}
